.profile__add-btn {
  grid-area: add-btn;
  width: 150px;
  height: 50px;
  background-color: #000;
  border: 1px solid #fff;
  align-self: center;
  cursor: pointer;
}

@media screen and (max-width: 631px) {
  .profile__add-btn {
    width: 282px;
    height: 50px;
    margin-top: 33px;
  }
}