.profile__about-me {
  margin: 0;
  grid-area: profession;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}

@media screen and (max-width: 631px) {
  .profile__about-me {
    font-size: 14px;
    padding-top: 14px;
  }
}